.start-menu {
  min-width: 366px;
  background: var(--primary-gradient);
  border-radius: var(--spacing-sm) var(--spacing-sm) 0 0;

  .top {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    background: var(--primary-gradient);
    color: var(--white);
    padding: var(--spacing-sm);
    border-radius: var(--spacing-sm) var(--spacing-sm) 0 0;

    .user-logo {
      width: 36px;
      height: 36px;
      border-radius: 2px;
      border: 2px solid #dededecc;
    }

    p {
      font-size: var(--font-size-sm);
      font-weight: bold;
    }
  }

  .middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-right: 2px;

    .middle-left {
      background-color: var(--white);
      padding: var(--spacing-sm);
      border-right: 1px solid var(--primary-active);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .dynamic-options {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-sm);

        .option {
          display: flex;
          flex-wrap: nowrap;
          gap: var(--spacing-xs);
          padding: var(--spacing-xs);
          user-select: none;
          img {
            width: 30px;
            height: 30px;
          }

          span {
            font-size: var(--font-size-sm);
          }

          &:hover {
            background-color: var(--primary-active);
            color: var(--white);
            cursor: pointer;
          }
        }
      }
    }

    .middle-right {
      background-color: var(--secondary);
      padding: var(--spacing-sm);
      display: flex;
      flex-direction: column;
      gap: var(--spacing-sm);

      .option {
        display: flex;
        flex-wrap: nowrap;
        gap: var(--spacing-xs);
        padding: var(--spacing-xs);
        user-select: none;
        img {
          width: 24px;
          height: 24px;
        }

        span {
          font-size: var(--font-size-sm);
        }

        &:hover {
          background-color: var(--primary-active);
          color: var(--white);
          cursor: pointer;
        }
      }
    }
  }

  .bottom {
    padding: var(--spacing-sm);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--spacing-md);

    background: linear-gradient(
      rgb(24, 104, 206) 0%,
      rgb(14, 96, 203) 12%,
      rgb(14, 96, 203) 20%,
      rgb(17, 100, 207) 32%,
      rgb(22, 103, 207) 33%,
      rgb(27, 108, 211) 47%,
      rgb(30, 112, 217) 54%,
      rgb(36, 118, 220) 60%,
      rgb(41, 122, 224) 65%,
      rgb(52, 130, 227) 77%,
      rgb(55, 134, 229) 79%,
      rgb(66, 142, 233) 90%,
      rgb(71, 145, 235) 100%
    );

    .bottom-button {
      display: flex;
      flex-direction: row;
      gap: var(--spacing-sm);
      padding: var(--spacing-xs);

      img {
        width: 24px;
        height: 24px;
      }

      span {
        font-size: var(--font-size-sm);
        user-select: none;
        color: var(--white);
        line-height: var(--line-height-sm);
      }

      &:hover {
        background-color: var(--primary-active);
        color: var(--white);
        cursor: pointer;
      }
    }
  }
}
