:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

app-desktop {
  flex: 1 1 auto;
  overflow: hidden;
}

app-footer {
  flex: 0 0 32px;
  height: 32px;
}
