$footer-height: 32px;

:host {
  position: relative;
  z-index: 2000;

  footer {
    display: flex;
    justify-content: space-between;
    height: $footer-height;
    background: var(--primary-gradient);
    position: relative;
    z-index: 2000;

    .button-wrapper {
      position: relative;
    }
    .start-button {
      img {
        max-height: $footer-height;
      }
    }

    app-start-menu {
      position: absolute;
      bottom: 100%;
      left: 0;
    }

    .right-panel {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      padding: 0 var(--spacing-sm);
      background: linear-gradient(
        rgb(12, 89, 185) 1%,
        rgb(19, 158, 233) 6%,
        rgb(24, 181, 242) 10%,
        rgb(19, 155, 235) 14%,
        rgb(18, 144, 232) 19%,
        rgb(13, 141, 234) 63%,
        rgb(13, 159, 241) 81%,
        rgb(15, 158, 237) 88%,
        rgb(17, 155, 233) 91%,
        rgb(19, 146, 226) 94%,
        rgb(19, 126, 215) 97%,
        rgb(9, 91, 201) 100%
      );
      border-left: 1px solid var(--primary-active);

      .clock {
        font-size: var(--font-size-sm);
        color: var(--white);
      }
    }
  }
}
